<!DOCTYPE html>
<html lang="en">


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>SAPIENS IN</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="./angularjs/angular.min.js"></script>
	<script type="text/javascript" src="./angularjs/Services/api-resolver.service.js"></script>
	<script type="text/javascript" src="./angularjs/Services/http.serviec.js"></script>
	<script type="text/javascript" src="./angularjs/Services/constant.serviec.js"></script>
	<script type="text/javascript" src="./angularjs/Services/api.serviec.js"></script>
	<script type="text/javascript" src="./angularjs/Controllers/dashboard.Contrller.js"></script>
	<script type="text/javascript" src="./angularjs/Controllers/Toolbar.Contrller.js"></script>
	<script type="text/javascript" src="./angularjs/Controllers/Footer.Contrller.js"></script>


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body ng-app="app" ng-controller="DashboardController">
	<style>
		.autocomplete {
			position: relative;
			display: inline-block;
		}

		input {
			border: 1px solid transparent;
			background-color: #f1f1f1;
			padding: 10px;
			font-size: 16px;
		}

		input[type=text] {
			background-color: #f1f1f1;
			width: 100%;
		}

		input[type=submit] {
			background-color: DodgerBlue;
			color: #fff;
			cursor: pointer;
		}

		.autocomplete-items {
			position: absolute;
			border: 1px solid #d4d4d4;
			border-bottom: none;
			border-top: none;
			z-index: 99;
			/*position the autocomplete items to be the same width as the container:*/
			top: 100%;
			left: 0;
			right: 0;
		}

		.autocomplete-items div {
			padding: 10px;
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #d4d4d4;
		}

		/*when hovering an item:*/
		.autocomplete-items div:hover {
			background-color: #e9e9e9;
		}

		/*when navigating through the items using the arrow keys:*/
		.autocomplete-active {
			background-color: DodgerBlue !important;
			color: #ffffff;
		}
	</style>


	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<ng-include src="'./angularjs/htmlTemplates/Toolbar.html'" style="width:100%;"></ng-include>


		<!-- <header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="index.html" class="navbar-brand logo">
						<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index.html" class="menu-logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li class="active">
							<a href="index.html">Home</a>
						</li>
						<li class="active">
							<a href="team.html">Teams</a>
						</li>
						<li class="active">
							<a href="labs.html">Labs</a>
						</li>
						<li class="active">
							<a href="med.html">Medicines</a>
						</li>
						<li class="active">
							<a href="index.html">Profile</a>
						</li>
						 
					</ul>
				</div>
				<ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
						<div class="header-contact-img">
							<i class="far fa-hospital"></i>
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header"> +92 335 446 1507</p>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link header-login" href="admin/login.html">login / Signup </a>
					</li>
				</ul>
			</nav>
		</header> -->
		<!-- /Header -->

		<!-- Home Banner -->
		<section class="section section-search">
			<div class="container-fluid">
				<div class="banner-wrapper">
					<div class="banner-header text-center">
						<h1>Search Teams, Make an Appointment</h1>
						<p>Qualified teams of Doctors, Pharmacists & Nutritionists at your disposal.</p>
					</div>

					<!-- Search -->
					<div class="search-box" style="margin-left: 20% !important;">
						<form action="templateshub.net">
							<!-- <div class="form-group search-location">
									<input type="text" class="form-control" placeholder="Search Location">
									<span class="form-text">Based on your Location</span>
								</div> -->
							<div class="form-group search-info">
								<div class="autocomplete" style="width:100%;">
									<input id="myInput" type="text" name="myCountry" class="form-control"
										placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
								</div>
								<!-- <input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc"> -->
								<span class="form-text">Ex : Orthopaedic team, uric acid, etc </span>
							</div>
							<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i>
								<span>Search</span></button>
						</form>
					</div>
					<!-- /Search -->

				</div>
			</div>
		</section>
		<!-- /Home Banner -->


		<section>
			<div class="jumbotron" style="text-align: center;background: linear-gradient(180deg, #1b5a90, #00d0f182);">
				<p style="color: black;">INTRODUCING</p>
				<h1 style="color: black;"> Virtual Primary Care</h1>
				<p style="color: black;">We're here to help you connect every employee – to remarkable and streamlined
					primary care, while giving your company a better bottom line.</p>
				<button
					style="    background-color: #19173eeb;border-radius: 5px;color: #fff;height: 46px;font-weight: 500;font-size: 16px;"
					ng-click="GoTo('team')">
					Our Teams
				</button>
			</div>
		</section>

		<!-- Clinic and Specialities -->
		<section class="section section-specialities">
			<div class="container-fluid">
				<div class="section-header text-center">
					<h2>Specialities</h2>
					<!-- <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua.</p> -->
				</div>
				<div class="row justify-content-center">
					<div class="col-md-9">
						<!-- Slider -->
						<!-- <div class="specialities-slider slider"> -->
						<div class="row">


							<!-- Slider Item -->
							<!-- <div  class="speicality-item text-center" ng-click="GoToTeams(SpecialityObj)" -->
							<div style="cursor: pointer;" class="col-2 text-center" ng-click="GoToTeams(SpecialityObj)"
								ng-repeat="SpecialityObj in SpecialityList">
								<div class="speicality-img">
									<img src="https://api.sapiensin.com/Uploads/Images/{{SpecialityObj.DisplayPicture}}"
										class="img-fluid" alt="Speciality">
									<span><i class="fa fa-circle" aria-hidden="true"></i></span>
								</div>
								<p>{{SpecialityObj.SpecialityTitle}}</p>
							</div>
							<!-- /Slider Item -->



						</div>
						<!-- /Slider -->

					</div>
				</div>
			</div>
		</section>
		<!-- Clinic and Specialities -->

		<!-- Popular Section -->
		<section class="section section-doctor" style="    background-color: lightblue;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-5 offset-2">
						<div class="section-header ">
							<h2>COVID-19</h2>
							<!-- <p>Lorem Ipsum is simply dummy text </p> -->
						</div>
						<div class="about-content">
							<p>We are committed to helping you stay informed and prepared as the COVID-19 situation
								develops in the United States. The CDC recommends and encourages using telehealth, as
								virtual treatment can help to limit exposure and spread. </p>
							<p>Our medical team is available 24/7 to assist you and your family from the comfort of home
								if you believe you have symptoms of the virus. We can screen for COVID-19, as well as
								prescribe antibody testing, which may help identify if you were previously exposed to
								the virus.</p>
							<a ng-click="GoTo('team')" href="javascript:;">Request Session</a>
						</div>
					</div>
					<div class="col-lg-4">
						<img style="height: 300px; width: 100%;" src="assets/img/covid.png" class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		<section class="section section-doctor">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-5 offset-2">
						<div class="section-header ">
							<h2>The Frontline Impact</h2>
							<!-- <p>Lorem Ipsum is simply dummy text </p> -->
						</div>
						<div class="about-content">
							<p>Provide your members with 24/7/365 access to SapiensIn’s highly qualified, licensed
								healthcare providers by phone, mobile app or computer to experience immediate and
								lasting benefits. </p>
							<br>
							<br>
							<ul>
								<li> Improve workplace productivity and ultimately the bottom line </li>
								<li> Decrease absenteeism that plagues businesses of all types and sizes</li>
								<li> Increase member satisfaction with increased access to quality care </li>
								<li> Enable members to become smarter healthcare consumers </li>
							</ul>
							<a ng-click="GoTo('team')" href="javascript:;">Get in Touch</a>
						</div>
					</div>
					<div class="col-lg-4 offset-1">
						<img style="width: 70%;" src="assets/img/text.png" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<!-- /Popular Section -->

		<!-- Popular Section -->
		<section class="section section-doctor" style="    background-color: lightblue;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4">
						<div class="section-header ">
							<h2>Our Solutions</h2>
							<p>High quality, convenient healthcare on your schedule </p>
						</div>
						<div class="about-content">
							<p>We offer telehealth services for common medical issues, as well as telebehavioral health
								services for emotional and mental health concerns.</p>
							<!-- <p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>					 -->
							<!-- <a href="javascript:;">Read More..</a> -->
						</div>
					</div>
					<div class="col-lg-8">
						<div class="doctor-slider slider">

							<!-- Doctor Widget -->
							<div class="profile-widget">
								<div class="doc-img">
									<a href="#">
										<img class="img-fluid" alt="User Image" src="assets/img/team.jpg">
									</a>
									<a href="javascript:void(0)" class="fav-btn">
										<i class="far fa-bookmark"></i>
									</a>
								</div>
								<div class="pro-content">
									<h3 class="title">
										<a href="#">Book Our Teams</a>
										<i class="fas fa-check-circle verified"></i>
									</h3>
									<p class="speciality">Each Team Consist of a Higly Qualified Doctor,Pharmacist and
										Nutritionist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-rating">(100)</span>
									</div>
									<ul class="available-info">
										<!-- <li>
									<i class="fas fa-map-marker-alt"></i> Florida, USA
								</li> -->
										<li>
											<i class="far fa-clock"></i> Available Online 24/7
										</li>
										<!-- <li>
									<i class="far fa-money-bill-alt"></i> $300 - $1000 
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li> -->
									</ul>
									<div class="row row-sm">
										<!-- <div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">View Profile</a>
								</div> -->
										<div class="col-6">
											<a href="#" ng-click="GoTo('team')" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="profile-widget">
								<div class="doc-img">
									<a href="#">
										<img class="img-fluid" alt="User Image" src="assets/img/lab.png">
									</a>
									<a href="javascript:void(0)" class="fav-btn">
										<i class="far fa-bookmark"></i>
									</a>
								</div>
								<div class="pro-content">
									<h3 class="title">
										<a href="#">Labs And Lab Test</a>
										<i class="fas fa-check-circle verified"></i>
									</h3>
									<p class="speciality">Each Team Consist of a Higly Qualified Doctor,Pharmacist and
										Nutritionist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-rating">(100)</span>
									</div>
									<ul class="available-info">
										<!-- <li>
									<i class="fas fa-map-marker-alt"></i> Florida, USA
								</li> -->
										<li>
											<i class="far fa-clock"></i> Available Online 24/7
										</li>
										<!-- <li>
									<i class="far fa-money-bill-alt"></i> $300 - $1000 
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li> -->
									</ul>
									<div class="row row-sm">
										<!-- <div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">View Profile</a>
								</div> -->
										<div class="col-6">
											<a href="#" ng-click="GoTo('labs')" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="profile-widget">
								<div class="doc-img">
									<a href="#">
										<img class="img-fluid" alt="User Image" src="assets/img/med.png">
									</a>
									<a href="javascript:void(0)" class="fav-btn">
										<i class="far fa-bookmark"></i>
									</a>
								</div>
								<div class="pro-content">
									<h3 class="title">
										<a href="#">Medicines</a>
										<i class="fas fa-check-circle verified"></i>
									</h3>
									<p class="speciality">Each Team Consist of a Higly Qualified Doctor,Pharmacist and
										Nutritionist</p>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<span class="d-inline-block average-rating">(100)</span>
									</div>
									<ul class="available-info">
										<!-- <li>
									<i class="fas fa-map-marker-alt"></i> Florida, USA
								</li> -->
										<li>
											<i class="far fa-clock"></i> Available Online 24/7
										</li>
										<!-- <li>
									<i class="far fa-money-bill-alt"></i> $300 - $1000 
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li> -->
									</ul>
									<div class="row row-sm">
										<!-- <div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">View Profile</a>
								</div> -->
										<div class="col-6">
											<a href="#" ng-click="GoTo('med')" class="btn book-btn">Book Now</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->



						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Popular Section -->




		<!-- Availabe Features -->

		<!-- Availabe Features -->

		<!-- Footer -->
		<ng-include src="'./angularjs/htmlTemplates/Footer.html'" style="width:100%;"></ng-include>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Slick JS -->
	<script src="assets/js/slick.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

	<script>
		var currentRequest = null;
		function autocomplete(inp, arr) {
			/*the autocomplete function takes two arguments,
			the text field element and an array of possible autocompleted values:*/
			var currentFocus;
			/*execute a function when someone writes in the text field:*/
			inp.addEventListener("input", function (e) {
				var a, b, i, val = this.value;
				/*close any already open lists of autocompleted values*/
				closeAllLists();
				if (!val) { return false; }
				currentFocus = -1;
				/*create a DIV element that will contain the items (values):*/
				a = document.createElement("DIV");
				a.setAttribute("id", this.id + "autocomplete-list");
				a.setAttribute("class", "autocomplete-items");
				/*append the DIV element as a child of the autocomplete container:*/
				this.parentNode.appendChild(a);
				/*for each item in the array...*/

				if (currentRequest != null) {
					currentRequest.abort();
				}

				currentRequest = jQuery.ajax({
					type: "GET",
					url: "https://api.sapiensin.com/api/DoctorPatient/UniversalSearch",
					data: "query=" + $('#myInput').val(),

					success: function (data) {
						arr = data;
						console.log("Data Saved: " + data);
						for (i = 0; i < arr.length; i++) {
							/*check if the item starts with the same letters as the text field value:*/
							// if (arr[i].SearchResult.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
							/*create a DIV element for each matching element:*/
							b = document.createElement("DIV");
							/*make the matching letters bold:*/
							b.innerHTML = "<img style='width:50px' src='https://api.sapiensin.com/Uploads/Images/" + arr[i].SearchIcon + "'>";
							// b.innerHTML += "<strong>" + arr[i].SearchResult.substr(0, val.length) + "</strong>";
							// b.innerHTML += arr[i].SearchResult.substr(val.length);
							b.innerHTML += arr[i].SearchResult;
							/*insert a input field that will hold the current array item's value:*/
							// b.innerHTML += "<input type='hidden' id='" + arr[i].ModuleID + "' value='" + arr[i].SearchResult + "'>";
							b.innerHTML += "<input type='hidden' id='" + arr[i].ModuleID + "' value='" + arr[i].SearchQuery + "'>";
							/*execute a function when someone clicks on the item value (DIV element):*/
							b.addEventListener("click", function (e) {
								/*insert the value for the autocomplete text field:*/
								inp.value = this.getElementsByTagName("input")[0].value;
								if (this.getElementsByTagName("input")[0].id == 1) {
									localStorage.setItem('UniversalSearchQuery', inp.value);
									window.location.href = 'team.html'
								}
								else if (this.getElementsByTagName("input")[0].id == 2) {
									localStorage.setItem('UniversalSearchQuery', inp.value);
									window.location.href = 'labs.html'
								}
								else if (this.getElementsByTagName("input")[0].id == 3) {
									localStorage.setItem('UniversalSearchQuery', inp.value);
									window.location.href = 'med.html'
								}

								/*close the list of autocompleted values,
								(or any other open lists of autocompleted values:*/
								closeAllLists();
							});
							a.appendChild(b);
							// }
						}
					}
				});


				// $.get("https://api.sapiensin.com/api/DoctorAndPatient/UniversalSearch", function (data, status) {
				// 	alert("Data: " + data + "\nStatus: " + status);
				// });


			});
			/*execute a function presses a key on the keyboard:*/
			inp.addEventListener("keydown", function (e) {
				var x = document.getElementById(this.id + "autocomplete-list");
				if (x) x = x.getElementsByTagName("div");
				if (e.keyCode == 40) {
					/*If the arrow DOWN key is pressed,
					increase the currentFocus variable:*/
					currentFocus++;
					/*and and make the current item more visible:*/
					addActive(x);
				} else if (e.keyCode == 38) { //up
					/*If the arrow UP key is pressed,
					decrease the currentFocus variable:*/
					currentFocus--;
					/*and and make the current item more visible:*/
					addActive(x);
				} else if (e.keyCode == 13) {
					/*If the ENTER key is pressed, prevent the form from being submitted,*/
					e.preventDefault();
					if (currentFocus > -1) {
						/*and simulate a click on the "active" item:*/
						if (x) x[currentFocus].click();
					}
				}
			});
			function addActive(x) {
				/*a function to classify an item as "active":*/
				if (!x) return false;
				/*start by removing the "active" class on all items:*/
				removeActive(x);
				if (currentFocus >= x.length) currentFocus = 0;
				if (currentFocus < 0) currentFocus = (x.length - 1);
				/*add class "autocomplete-active":*/
				x[currentFocus].classList.add("autocomplete-active");
			}
			function removeActive(x) {
				/*a function to remove the "active" class from all autocomplete items:*/
				for (var i = 0; i < x.length; i++) {
					x[i].classList.remove("autocomplete-active");
				}
			}
			function closeAllLists(elmnt) {
				/*close all autocomplete lists in the document,
				except the one passed as an argument:*/
				var x = document.getElementsByClassName("autocomplete-items");
				for (var i = 0; i < x.length; i++) {
					if (elmnt != x[i] && elmnt != inp) {
						x[i].parentNode.removeChild(x[i]);
					}
				}
			}
			/*execute a function when someone clicks in the document:*/
			document.addEventListener("click", function (e) {
				closeAllLists(e.target);
			});
		}

		/*An array containing all the country names in the world:*/
		var countries = ["Afghanistan", "Albania"];

		/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
		autocomplete(document.getElementById("myInput"), countries);
	</script>


</body>



</html>