<footer class="footer" ng-controller="FooterController">

	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6">

					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<div class="footer-logo">
							<img style="width: 150px;" src="assets/img/logo.png" alt="logo">
						</div>
						<div class="footer-about-content">

							<p>
								Search Doctor, Make an Appointment
								<br>
								Qualified teams of Doctors, Pharmacists & Nutritionists at your disposal.
							</p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="https://www.facebook.com/profile.php?id=100082439212701" target="_blank"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="https://twitter.com/SapiensIn1" target="_blank"><i class="fab fa-twitter"></i> </a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/sapiensin/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
									</li>
									<li>
										<a href="https://instagram.com/sapiensin01?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->

				</div>

				<div class="col-lg-3 col-md-6">

					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Specialities</h2>
						<ul>

							<li ng-repeat="SpecialityObj in SpecialityList">
								<a ng-click="GoToTeams(SpecialityObj)" href="#"><i
										class="fas fa-angle-double-right"></i> {{SpecialityObj.SpecialityTitle}}</a>
							</li>

						</ul>
					</div>
					<!-- /Footer Widget -->

				</div>

				<div class="col-lg-3 col-md-6">

					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title"> Pages </h2>
						<ul>
							<li><a href="appointments.html"><i class="fas fa-angle-double-right"></i>
									Appointments</a></li>
							<li><a href="team.html"><i class="fas fa-angle-double-right"></i> Teams</a></li>
							<li><a href="labs.html"><i class="fas fa-angle-double-right"></i> Labs</a></li>
							<li><a href="med.html"><i class="fas fa-angle-double-right"></i>
								Medicines</a></li>
							 
						</ul>
					</div>
					<!-- /Footer Widget -->

				</div>

				<div class="col-lg-3 col-md-6">

					<!-- Footer Widget -->
					<div class="footer-widget footer-contact">
						<h2 class="footer-title">Contact Us</h2>
						<div class="footer-contact-info">
							<div class="footer-address">
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p> Colabs 50_N Gurumangat Rd, Block N Gulberg 2, Lahore, Punjab </p>
							</div>
							<p>
								<i class="fas fa-phone-alt"></i>
								
								<a href="tel:0324-6228527" style="color: white;">0324-6228527</a>
							</p>
							<p class="mb-0">
								<i class="fas fa-envelope"></i>
								<a href="mailto:info@sapiensin.com" style="color: white;">info@sapiensin.com</a>
								
							</p>
						</div>
					</div>
					<!-- /Footer Widget -->

				</div>

			</div>
		</div>
	</div>
	<!-- /Footer Top -->

	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">

			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="copyright-text">
							<p class="mb-0"><a href="#">Integril Sol.</a></p>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">

						<!-- Copyright Menu -->
						<div class="copyright-menu">
							<ul class="policy-menu">
								<li><a href="#">Terms and Conditions</a></li>
								<li><a href="#">Policy</a></li>
							</ul>
						</div>
						<!-- /Copyright Menu -->

					</div>
				</div>
			</div>
			<!-- /Copyright -->

		</div>
	</div>
	<!-- /Footer Bottom -->

</footer>